<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ClienD</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="icon" href="{{static_host}}/static/images/favicon.ico?v8.2" type="image/x-icon">

    <!-- yabrowser -->
    <link rel="yandex-tableau-widget" href="{{api_host}}/api/other/yabrowser_tile_manifest/" />

    <!-- apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{static_host}}/static/images/logo57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{static_host}}/static/images/logo72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{static_host}}/static/images/logo114.png">
    <meta name="apple-itunes-app" content="app-id=935868033">

    <!-- webmaster tools -->
    <meta name="google-site-verification" content="idAq_fY3TfM2I5IgEldg6emGQ9ijgpLFd4XVOIWy2LM" />
    <meta name='yandex-verification' content='7edc50e1aba11f6e' />

    <!-- winphone -->
    <meta name="application-name" content="ClienD" />
    <meta name="msapplication-TileColor" content="#0099cc" />
    <meta name="msapplication-square70x70logo" content="{{static_host}}/static/images/logo70.png" />
    <meta name="msapplication-square150x150logo" content="{{static_host}}/static/images/logo150.png" />
    <meta name="msapplication-square310x310logo" content="{{static_host}}/static/images/logo310.png" />

    <!-- android -->
    <link rel="alternate" href="android-app://ru.cliend.android/http/cliend.ru/app/" />
    <link rel="manifest" href="{{static_host}}/manifest.json">
    <meta name="theme-color" content="#0099cc">

    <!-- seo -->
    <meta name="description" content="ClienD - удобный доступ к edu.tatar.ru. Скачивайте мобильное приложение для Электронного дневника edu.tatar.ru для удобного просмотра оценок и домашнего задания" />
    <meta name="keywords" content="cliend.ru, cliend, cliend for android, cliend for ios, cliend for ipad, cliend for iphone, cliend for windows phone, cliend for winphone, edu.tatar.ru, электронное образование в республике татарстан, эо рт, edutatar, едутатар, clienddev, #clienddev, edutatar api, приложение для едутатар, приложение для edutatar, мобильное приложение для едутатар, мобильное приложение для edu.tatar.ru" />

    <meta property="og:url" content="http://cliend.ru/"/>
    <meta property="og:site_name" content="ClienD"/>
    <meta property="og:description" content="удобный доступ к edu.tatar.ru"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{static_host}}/static/images/logo310.png"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="http://cliend.ru/"/>
    <meta name="twitter:title" content="ClienD"/>
    <meta name="twitter:description" content="удобный доступ к edu.tatar.ru"/>
    <meta name="twitter:image" content="{{static_host}}/static/images/logo150.png"/>
    <meta name="twitter:site" content="@cliend4edu"/>
    <meta name="twitter:creator" content="@clienddev"/>

    <link rel="stylesheet" href="{{static_host}}/static/styles/mobile3/bootstrap_cliend.min.css">
    <link rel="stylesheet" href="{{static_host}}/static/styles/mobile3/base2.min.css">
    <link rel="stylesheet" href="/dist/font-awesome/css/font-awesome.min.css">
</head>
<body id="cliend_app">
<div id="wrap">
    <div id="login_layout" class="layout" style="display: block">
        <header>
            <h1 id="logo">ClienD</h1>
            <h2>Удобный доступ к edu.tatar.ru</h2>
        </header>
        <div class="container">
            {{{content}}}
            <footer class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content">
                <small>
                    <a href="https://github.com/ClienDDev/ClienD-site" target="_blank">
                        <i class="fa fa-github"></i> Исходный код
                    </a>
                </small>
                <br>
                &copy; 2013-{{year}} <a href="http://clienddev.ru" target="_blank">ClienDDev team</a>
            </footer>
        </div>

    </div>
</div> <!--//#wrap-->

<script src="https://yastatic.net/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:300,700,100&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22149731 = new Ya.Metrika({id:22149731, trackLinks:true, trackHash:true, triggerEvent:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22149731" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-49843819-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>